@import 'vars';


.home{
  .left-sidebar{
    width: 50%;
    height:100vh;
    position:fixed;
    background-image: url(/build/assets/firecracker.jpg);
    background-size: cover;
    background-position: 50% 100%;
    top:0;
    left:0;
  }
  main{
    width:50%;
    position:absolute;
    right:0;
    top:0;
    padding: 150px 30px 30px 30px;
  }
  form.registerStudent{
    padding:10px 20px;
    position: relative;
  }
  .register{
    background-color: white;
    width:100%;
    max-width:400px;
    margin:0 auto;
    margin-top:50px;
    margin-bottom:30px;
    box-shadow: $box-shadow;
    .btn-panel{
      width:50%;
      background-color:$mid-grey;
      border:none;
      border-top:10px solid $light-grey;
      color:white;
    }
    .btn-panel-active{
      background-color:white;
      border:none;
      border-top:10px solid $green;
      color:$green;
    }
    input{
      width:50%;
      border:none;
      padding:2px 5px;
      background-color:$light-grey;
      margin:10px 0;
    }
    textarea{
      height:100px;
      display:block;
      width:100%;
      border:none;
      background-color: $light-grey;
    }
    label{
      display:block;
    }
    #register-btn{
      display:block;
      width:100%;
      position:absolute;
      left:0;
      margin-top:10px;
    }
  }
}


