nav {

  height: 40px;
  padding: 8px;
  background-color: #71EEB8;
  position: relative;

  h1 {
    margin: 0;
    display: inline;
  }

  #logins {
    display: inline-block;
    right: 10px;
    margin-right: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  #input{
    display: inline-block;
    right: 60PX;
    margin-right: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  #username {
    margin-right: 5px;
  }
}
