nav {
 height: 60px;
 padding: 10px 30px;
 background-color: $green;
 position: fixed;
 top:0;
 left:0;
 width:100%;
 z-index: 100;

 h1 {
   position: relative;
   top: 6px;
   font-size: 2.5rem;
   display: inline;
   color:white;
   letter-spacing: .2rem;
   a {
     color: white;
     span{
        color:$dark-green;
     }
     &:hover {
       text-decoration: none;
       cursor: pointer;
       color: white;
     }
   }
 }

 span {
   position: relative;
   top: 2px;
 }

 #login-input{
   position: absolute;
   right: 30px;
   top: 14px;
   margin-right:5px;
   color: white;
   button{
       font-size: 1.4rem;
       margin-left: 20px;
     &#logout {
       background-color: $green;
       border: solid 1px white;
       color: white;
     }
      &#dashboard {
       border: solid 1px white;
     }
     &#login{
      margin-left:10px;
     }
   }
   input{
     display: inline-block;
     width:100px;
     background-color: rgba(255, 255, 255, .8);
     margin-right: 10px;
     transform: translateY(-50%);
     color:$mid-grey;
     position:relative;
     top:15px;
     border:none;
     padding:2px 5px;
     &:first-child{
      width:125px;
     }
   }
 }

 #username {
   margin-right: 5px;
 }
}
