.teacher-profile{
  .left-sidebar{
    width: 35%;
    height:100vh;
    position:fixed;
    background-position: 50% 100%;
    padding: 150px 30px 30px 30px;
    top:0;
    left:0;
    .avatar{
      width:100%;
      height:200px;
      background-size: cover;
      background-position:50% 50%;
      overflow: scroll;
      // background-image: url(/build/assets/firecracker-girl.jpg)
    }
    .avatar-option{
      background-size: cover;
      background-position:50% 50%;
      width:33%;
      height:100px;
      float:left;
      &:hover{
        cursor:pointer;
      }
      &.selected{
        border:3px solid white;
      }
    }
    h2{
      display:block;
    }
    .edit{
      position: relative;
    }
    .glyphicon-pencil{
      position:absolute;
      font-size:2rem;
      right:0;
      top:-35px;
      &:hover{
        cursor:pointer;
      }
    }
    .edit-description{
      textarea{
        width:100%;
        height:100px;
      }
      .btn{
        width:100%;
      }
    }
  }
  main{
    width:65%;
    position:absolute;
    right:0;
    top:0;
    padding: 150px 30px 30px 30px;
    h2{
      margin-bottom:30px;
    }
  }
}

@media screen and (max-width: 810px){
  .teacher-profile{
    .left-sidebar{
      width: 100%;
      height:auto;
      min-height: 300px;
      position:static;
      top:auto;
      left:auto;
      float:left;
      padding-bottom: 80px;
    }
    main{
      width:100%;
      left:0;
    }
  }
}


